
.contenido
	margin-bottom: 40px
	justify-content: space-evenly
	contenedor()
.caja
	max-width: 430px
	img 
			width: 430px 
	&__contenido
		padding: 20px
		background-color: color-claro
		caja-sombra()
		span 
			text-transform: uppercase
			color: color-secundario
			font-family: Fuente2
		h3 
			text-transform: uppercase
			font-weight: normal
			font-family: Fuente2
